<a href="https://colab.research.google.com/github/pankajroy97/Data-Science-Capstone-Project/blob/main/Capston_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
# numpy is aliased as np
import pandas as pd
# pandas is aliased as pd
import matplotlib.pyplot as plt
# matplotlib.pyplot is aliased as plt
import seaborn as sns
# seaborn is aliased as sns

In [5]:
df = pd.read_csv('CAR_DETAILS.csv')
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [6]:
print(df.shape)

(4340, 8)

In [7]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [8]:
df['km_driven'].max()

806599

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

Download the CAR DETAILS dataset and perform Data cleaning and DataPre-Processing if Necessary

In [10]:
df.duplicated().sum()

763

In [11]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [12]:
df.drop_duplicates(inplace=True)
df.shape

(3577, 8)

Perform Exploratory data analysis(EDA) on the Data and perform Graphical Analysis on the Data.Include the graph swith conclusions from the Graphical Analysis

In [13]:
df['name'].nunique()

1491

In [14]:
print(df['year'].nunique())
df['year'].unique()

27

array([2007, 2012, 2017, 2014, 2016, 2015, 2018, 2019, 2013, 2011, 2010,
       2009, 2006, 1996, 2005, 2008, 2004, 1998, 2003, 2002, 2020, 2000,
       1999, 2001, 1995, 1997, 1992], dtype=int64)

In [15]:
print(df['fuel'].nunique())
df['fuel'].unique()

5

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [16]:
print(df['seller_type'].nunique())
df['seller_type'].unique()

3

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [17]:
print(df['transmission'].nunique())
df['transmission'].unique()

2

array(['Manual', 'Automatic'], dtype=object)

In [18]:
print(df['owner'].nunique())
df['owner'].unique()

5

array(['First Owner', 'Second Owner', 'Fourth & Above Owner',
       'Third Owner', 'Test Drive Car'], dtype=object)

In [29]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
x=['fuel', 'seller_type','transmission', 'owner']
for i in x:
  df[i]=lb.fit_transform(df[i])

In [30]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,4,1,1,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,4,1,1,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,1,1,0
3,Datsun RediGO T Option,2017,250000,46000,4,1,1,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,1,1,2

In [31]:
print(df['fuel'].nunique())
print(df['seller_type'].nunique())
print(df['transmission'].nunique())
print(df['owner'].nunique())

5
3
2
5

In this Dataset there are not present any features with high corelation.

Select the Dependent and Independent Features

In [34]:
x=df.drop(['name','selling_price'],axis=1)
y=df['selling_price']
print(type(x))
print(type(y))
print(x.shape,y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(3577, 6) (3577,)

#### Dividing the data into training and testing data

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=100)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(2682, 6)
(895, 6)
(2682,)
(895,)

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [45]:
d={'Model':[],'Model Name':[],'MAE':[],'MSE':[],'RMSE':[],'MODEL_SCORE':[]}
def eval_model(model,model_name,y_test,y_pred):
  MAE=np.round(mean_absolute_error(y_test,y_pred))
  MSE=np.round(mean_squared_error(y_test,y_pred))
  RMSE=np.round(np.sqrt(MSE))
  MODEL_SCORE=r2_score(y_test,y_pred)

  print("MAE=",MAE)
  print("MSE=",MSE)
  print("RMSE=",RMSE)
  print("MODEL_SCORE=",MODEL_SCORE)

  d['Model'].append(model)
  d['Model Name'].append(model_name)
  d['MAE'].append(MAE)
  d['MSE'].append(MSE)
  d['RMSE'].append(RMSE)
  d['MODEL_SCORE'].append(MODEL_SCORE)

def model_score(model):
  print('Training Score',model.score(x_train,y_train))
  print('Testing Score',model.score(x_test,y_test))

###1. Linear Regression Model

In [46]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
model=lr.fit(x_train,y_train)
y_pred=model.predict(x_test)

Evaluate the performance of the model

In [47]:
eval_model(lr,"Linear Regression",y_test,y_pred)

MAE= 221282.0
MSE= 113960347698.0
RMSE= 337580.0
MODEL_SCORE= 0.4003435643180663

In [48]:
model_score(lr)

Training Score 0.4302344683086903
Testing Score 0.4003435643180663

###2. DecisionTree Regression Model

In [49]:
from sklearn.tree import DecisionTreeRegressor
dct=DecisionTreeRegressor(max_depth=3,min_samples_split=15)
model_dct=dct.fit(x_train,y_train)
y_pred_dct=model_dct.predict(x_test)

Evaluate the performance of the model

In [50]:
eval_model(dct,"Decision Tree",y_test,y_pred_dct)

MAE= 200460.0
MSE= 105918170387.0
RMSE= 325451.0
MODEL_SCORE= 0.44266129569347545

In [51]:
model_score(dct)

Training Score 0.487988788824508
Testing Score 0.44266129569347545

###3. Random Forest Regression

In [52]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=100,max_depth=3,min_samples_split=2,random_state=100)
model_rf=rf.fit(x_train,y_train)
y_pred_rf=model_rf.predict(x_test)

Evaluate the performance of the model

In [53]:
eval_model(rf,"Random Forest",y_test,y_pred_rf)

MAE= 191695.0
MSE= 94444722539.0
RMSE= 307319.0
MODEL_SCORE= 0.503034284901576

Generate the Training and the Testing Score

In [54]:
model_score(rf)

Training Score 0.518007853983752
Testing Score 0.503034284901576

In [56]:
data=pd.DataFrame(d)
data.drop('Model',axis=1)

          Model Name       MAE           MSE      RMSE  MODEL_SCORE
0  Linear Regression  221282.0  1.139603e+11  337580.0     0.400344
1      Decision Tree  200460.0  1.059182e+11  325451.0     0.442661
2      Random Forest  191695.0  9.444472e+10  307319.0     0.503034

Final model (RandomForest Regression) based on Evaluation from model_performance dataframe

Save the best model and Load the model

In [58]:
# Save the best model
import pickle
pickle.dump(rf,open('random_forest.pkl','wb'))

In [59]:
#load the model
loaded_model=pickle.load(open('random_forest.pkl','rb'))
result=loaded_model.score(x_test,y_test)
result

0.503034284901576

Take the original dataset and make another dataset by randomly picking 20 datapoints from the dataset and apply the saved model on the same

In [60]:
data_sample=df.sample(n=20)

In [61]:
data_sample.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
510,Honda WR-V i-DTEC V,2019,900000,60000,1,1,1,0
3403,Maruti Wagon R VXI Optional,2015,260000,40000,4,1,1,0
3612,Mercedes-Benz E-Class 280 CDI,2007,900000,76731,1,0,0,0
3805,Hyundai Grand i10 1.2 Kappa Sportz BSIV,2018,600000,2500,4,1,1,0
696,Maruti Alto LX,2011,114999,60000,4,1,1,4

In [62]:
sample=data_sample.drop('selling_price',axis=1)

In [71]:
sample.to_csv('sample_submission_capstone_project.csv')

In [72]:
random_sample=pd.read_csv('sample_submission_capstone_project.csv')
random_sample.head()

,Unnamed: 0,name,year,km_driven,fuel,seller_type,transmission,owner
0,510,Honda WR-V i-DTEC V,2019,60000,1,1,1,0
1,3403,Maruti Wagon R VXI Optional,2015,40000,4,1,1,0
2,3612,Mercedes-Benz E-Class 280 CDI,2007,76731,1,0,0,0
3,3805,Hyundai Grand i10 1.2 Kappa Sportz BSIV,2018,2500,4,1,1,0
4,696,Maruti Alto LX,2011,60000,4,1,1,4

In [73]:
random_sample.columns

Index(['Unnamed: 0', 'name', 'year', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [74]:
random_sample=random_sample.drop(['name','Unnamed: 0'],axis=1)
random_sample.head()

   year  km_driven  fuel  seller_type  transmission  owner
0  2019      60000     1            1             1      0
1  2015      40000     4            1             1      0
2  2007      76731     1            0             0      0
3  2018       2500     4            1             1      0
4  2011      60000     4            1             1      4

In [75]:
loaded_model=pickle.load(open('random_forest.pkl','rb'))
loaded_model_prediction=loaded_model.predict(random_sample)
loaded_model_prediction

array([ 674971.65078147,  429723.75426876, 1104295.13560861,
        439208.76346307,  233976.9232493 ,  173385.99058582,
        439208.76346307,  283572.26830533,  165783.55631519,
        203088.87646552,  657269.68145071, 1041680.85904553,
        165783.55631519,  672733.66874705,  672733.66874705,
        657269.68145071,  273469.07586658,  367617.84021999,
        613889.76474051,  165783.55631519])

In [76]:
#  Compare the actual data and predicted data
data_sample["predicted_sales"] =np.round(loaded_model_prediction)
data_sample.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,predicted_sales
510,Honda WR-V i-DTEC V,2019,900000,60000,1,1,1,0,674972.0
3403,Maruti Wagon R VXI Optional,2015,260000,40000,4,1,1,0,429724.0
3612,Mercedes-Benz E-Class 280 CDI,2007,900000,76731,1,0,0,0,1104295.0
3805,Hyundai Grand i10 1.2 Kappa Sportz BSIV,2018,600000,2500,4,1,1,0,439209.0
696,Maruti Alto LX,2011,114999,60000,4,1,1,4,233977.0

In [77]:
data_sample.to_csv('Prediction_data_sample.csv')